# Object files
*.o
*.obj
*.idb
*.pdb

# Log files
*.log
*.tlog
*.lastbuildstate
*.ipch

*.opensdf
Debug/

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
