# Object files
*.o
*.obj
*.idb
*.pdb

# Log files
*.log
*.tlog
*.lastbuildstate
*.ipch
*.opensdf

# build
Debug/
build/
.vscode/

# Cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# test files
test/
test_main.c